[Unit]
Description=seawolf.io/ip service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/post-ip

[Install]
WantedBy=multi-user.target
